{% extends "layout.html" %}

{% block title %} MusicPhreak: Free music biatch! {% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mainpage-styles.css') }}">
{% endblock %}

{% block content %}
<div class="top-chart">
  <h2 class="header">
    <a class="header-link" href="top-songs" alt="Top Songs">Top Songs</a>
  </h2>

  <div class="inner-chart">
    <ul class="songs-list">
      {% for song in songs %}
      <li class="song" data-mp3="{{song.mp3_links[song.smallest_bitrate].strip()}}">
        <a href="top-songs">
          <div class="thumb" style="background-image: url({{song.image_link}})"></div>
        </a>
        <div class="title-contents">
          <h2 class="song-name">
            {{song.name}}
          </h2>
          <p class="song-artist">
            {{song.artist|join(',')}}
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
